<!--{{ if .Site.Params.contact.enable }}
 contact 
<section class="section section-on-footer" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="{{.Site.Params.contact.formAction}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
-->
<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-light">Contact</h4>
          <p class="text-white paragraph-lg font-secondary">{{.Site.Params.footer.email}}</p>
        </div>
        <div class="col-md-4">
          <h4 class="text-light">ScreenPlay Project</h4>
          <a href="https://gitlab.com/kelteseth/ScreenPlay/"><p class="text-white paragraph-lg font-secondary">Gitlab</p></a>
          <a href="https://gitlab.com/kelteseth/ScreenPlay/issues"><p class="text-white paragraph-lg font-secondary">{{.Site.Params.footer.bugtracker}}</p></a>
          <a href="https://kelteseth.gitlab.io/ScreenPlayDocs/"><p class="text-white paragraph-lg font-secondary">Documentation</p></a>
        </div>
        <div class="col-md-4">
          <h4 class="text-light">Imprint</h4>
          <p class="text-white paragraph-lg font-secondary">{{.Site.Params.footer.address}}</p>
          <a href="/imprint/"><p class="text-white paragraph-lg font-secondary">Imprint</p></a>
          <a href="/press/"><p class="text-white paragraph-lg font-secondary">Press</p></a>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- /footer -->

{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
{{ $waypoints := resources.Get "js/jquery.waypoints.min.js"}}
{{ $anime := resources.Get "js/anime.min.js"}}
{{ $animations := resources.Get "js/animations.js"}}
<script src="{{ $script.Permalink }}"></script>
<script src="{{ $waypoints.Permalink }}"></script>
<script src="{{ $anime.Permalink }}"></script>
<script src="{{ $animations.Permalink }}"></script>
