<header class="navigation fixed-top ">
  <nav class="navbar navbar-expand-lg navbar-dark " style="width: 100%;">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo | absURL }}" alt="{{.Site.Title}}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
        </li>
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu" >
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | absURL }}" {{ if strings.HasPrefix .URL "http" }} target=”_blank” {{ end }}>
            {{ .Name }} 
            {{ if strings.HasPrefix .URL "http" }}
            <span style="margin-left: 0.2em; margin-bottom: 0.2em;">
             <svg style="height: 0.7em; width: 0.7em; margin-bottom: 0.2em;" focusable="false" data-prefix="fas" data-icon="external-link-alt"
              class="svg-inline--fa fa-external-link-alt fa-w-16"
               role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>
                 external link
               </title>
               <path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>
             </span>
             {{ end }}
          </a>     
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
</header>