<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <!-- <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="text-white font-tertiary">{{.Title}}</h3>
      </div>
    </div>
  </div>
  background shapes -->
</section>
<!-- /page title -->
