{{ define "main" }}
<!-- hero area -->
<section class="hero-area bg-primary overflow-hidden" style="background-color: #071213 !important; z-index: 9999;">
  <div class="mt-2 row">
    <h3 class="mb-5 text-white text-center ">ScreenPlay is an <strong>Open Source</strong> Live-Wallpaper app for
      Windows and OSX. </h3>
    <video class="mx-auto animate__animated animate__zoomIn" style="max-width: 1000px;" loop muted autoplay controls>
      <source src="/videos/homepage/intro.mp4" type="video/mp4">
    </video>
    <div class="my-2 text-center" href="https://store.steampowered.com/app/672870/ScreenPlay/">
      <a role="button" class="animate__animated  animate__pulse animate__repeat-2 btn btn-download btn-primary "
        href="https://store.steampowered.com/app/672870/ScreenPlay/">
        <span class="ti-apple"></span>
        <span class="ti-microsoft"></span>
        Download ScreenPlay via Steam!
      </a>
    </div>
    <div class="my-2 text-center" >
      <a href="/download" class="btn btn-dark btn-sm mt-3 pl-5"><u>Other Download Options</u></a>
    </div>
  </div>

</section>
<section class="section bg-about" style="background-color: #071213 !important; z-index: 9999;">

  {{ if .Site.Data.homepage.about.enable }}
  <!-- about -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        {{ with .Site.Data.homepage.about }}
        <p class="font-secondary lead text-white fs-4 ">{{.content | markdownify}}</p>
        {{ with .button }}

        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <!-- /about -->
  {{ end }}

  <!-- features -->
  <div class="container">
    <h1 class="text-center text-white mt-5">Features:</h1>
  </div>
  {{ range $i, $feature := .Site.Data.homepage.features }}
  <div
    class="container mt-5 mb-5 pt-5 ml-5 feature  features_section  animate__animated {{ if eq (mod $i 2) 0 }} features_section_right {{ else }} features_section_left {{ end }}"
    style="display: flex;">
    <div class=" features-box animate anim_feature_img">
      {{ if eq $feature.image "" }}
      <div class="col-sm">
        <video autoplay muted class=" p-0 shadow-lg " controls="false" loop="true" allowfullscreen="false">
          <source src="{{ $feature.video }}" type="video/mp4">
        </video>
      </div>
      {{ else }}
      <img src="{{ $feature.image }}" alt="{{ $feature.headline }}" class="feature-image">
      {{ end }}
    </div>
    <div style="width: 30px; height: 10px;"></div>
    <div
      class=" features-box animate__animated animate anim_feature_text {{ if eq (mod $i 2) 0 }}   {{ else }}  text-end {{ end }}">
      {{ if $feature.version }}
      <div class="feature-version">
        <a href="{{$feature.versionLink }}"><span class="badge badge-primary  bg-warning text-white shadow  fs-6">New! {{ $feature.version }}</span></a>
      </div>
      {{ end }}
      <h2 class="feature-headline text-white">{{ $feature.headline }}</h2>
      <p class="feature-text fs-5" style="color: #ececec;">{{ $feature.text }}</p>
      {{ if $feature.readmoreLink }}
      <a class="feature-text fs-5 text-secondary-emphasis" href="{{ $feature.readmoreLink }}"><u>Read More...</u></a>
      {{ end }}
    </div>
  </div>
  {{ end }}

  <script>
    const observer_img = new IntersectionObserver(entries => {
      // Loop over the entries
      entries.forEach(entry => {
        // If the element is visible
        if (entry.isIntersecting) {
          // Add the animation class
          entry.target.classList.add('animate__slideInRight');
          //entry.target.style.cssText += 'animation: feature-fadeIn 0.5s ease-out;';
        }
      });
    }, { rootMargin: '0px' });

    document.querySelectorAll('.features_section_right').forEach((i) => {
      if (i) {
        observer_img.observe(i);
      }
    });


    const observer_text = new IntersectionObserver(entries => {
      // Loop over the entries
      entries.forEach(entry => {
        // If the element is visible
        if (entry.isIntersecting) {
          // Add the animation class
          entry.target.classList.add('animate__slideInLeft');
        }
      });
    }, { rootMargin: '0px' });

    document.querySelectorAll('.features_section_left').forEach((i) => {
      if (i) {
        observer_text.observe(i);
      }
    });

    let video = document.querySelector('video');
    let isPaused = false;
    let observer_video = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.intersectionRatio != 1 && !video.paused) {
          console.log("pause");
          video.pause();
          isPaused = true;
        }
        else if (isPaused) {
          console.log("play");
          video.play();
          isPaused = false
        }
      });
    }, { threshold: 1 });

    document.querySelectorAll('video').forEach((i) => {
      if (i) {
        observer_video.observe(i);
      }
    });
  </script>

</section>

{{ end }}