{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container ">
    <div class="container mt-5 ">
      <h2 class="text-center text-capitalize">Download Stable V0.14 via Steam</h2>
      <p class="text-center">The Steam version of ScreenPlay offers auto updates and Steam Workshop support, for one click downloads.<br> Windows and MacOS only for now!</p>
      <div class="container  mt-5 text-center">
        <a href="https://store.steampowered.com/app/672870/ScreenPlay/"><button type="button "
            class="btn btn-primary align-self-center mx-auto "><span class="ti-apple"></span> <span class="ti-microsoft mr-4"><i class="fa-brands fa-steam mx-2 "></i></span> Download ScreenPlay via Steam </button></a>
      </div><!--
      <div class="  m-3 text-center">
        <i>or</i>
      </div>
      <div class="container text-center">
        <a href="https://gitlab.com/kelteseth/ScreenPlay/-/releases"><button type="button" style="text-transform: none;"
            class="btn btn-dark align-self-center mx-auto btn-sm"></span> <span class="ti-microsoft mr-4"></span> Download Standalone ScreenPlay .exe x64 Installer </button></a>
      </div>-->
    </div>
    <div  class="container p-4"></div>
    <div class="container mt-5  text-center ">
      <h3 class="text-capitalize"><i class="fa-solid fa-triangle-exclamation"></i> Download Standalone <strong>experimental</strong> CI builds <i class="fa-solid fa-triangle-exclamation"></i></h3>
      <div class="row mt-5  text-center">
        <div class="col-sm offset-sd-1">
          <a href="https://gitlab.com/kelteseth/ScreenPlay/-/pipelines"><button type="button" class="btn btn-info btn-sm" style="text-transform: none;"><span class="ti-microsoft "></span> <br>Download Windows Nightly .exe x64 Installer</button></a>
        </div>
        <!--
        <div class="col-sm offset-sd-1">
          <a href="">
            <button type="button" class="btn btn-secondary"><span class="ti-apple"></span> <br>Download OSX .dmg Universal x64 Installer</button></a>
        </div>
        <div class="col-sm offset-sd-1">
          <a href="">
            <button type="button" class="btn btn-secondary"><span class="ti-linux"></span> <br>Download Linux/KDE .run x64 Installer</button></a>
        </div>-->
      </div>
      <div class="row mt-3 ">
        <div class="col text-center text-capitalize">
          Supports Windows 10/11. Older version should work but are not tested.
        </div>
         <!--
        <div class="col text-center">
          Supports MacOS 10.14 and newer. Older version should work but are not tested.
        </div>
        <div class="col text-center">
          Supports Ubutnu 20.04 and newer with KDE Plasma 5. Gnome is currently not supported.
        </div>-->
      </div>
    </div>
    
    <div class="container mt-5 text-center">
      <p><a href="https://forum.screen-play.app/"> <h3>Please Report all Bugs You Find In Our Forum!</h3></a></p>
    </div>
  </div>
</section>

{{ end }}