{{ define "main" }}

  {{ partial "page-title.html" . }}

 
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        {{ range .Data.Pages }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="{{.Params.Image | absURL}}" alt="post-thumb">
            <div class="card-body bg-dark-subtle">
              <pubDate>{{ .Date.Format "02 Jan 2006" | safeHTML }}</pubDate>
              <h4 class="card-title"><a  href="{{.Permalink}}">{{.Title }}</a>
              </h4>
              <p class="cars-text">{{.Summary}}</p>
              <a href="{{.Permalink}}" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->

{{ end }}