{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h3 class="font-tertiary mb-5">{{.Title}}</h3>
        <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span
            class="text-primary">{{.Params.Author}}</span></p>
        <div class="content blog ">

          <div class="media shadow p-0 mt-5 mb-5 ml-0 mr-0 container rounded row bg-dark-subtle">
            <img class="mb-0 p-0 col rounded mw-100 media-left"  src="{{.Params.Image | absURL }}">
            <div class="media-body d-none d-lg-block m-0 p-0  col ">
              <div class="d-flex align-items-center justify-content-center w-100 h-100 p-5">
              <p>
                ScreenPlay is an Open-Source Live Wallpaper and Widgets app for Windows & macOS (and soon Linux)
                written in modern C++/Qt/QML and is in active development since early 2017 on <a
                  href="https://gitlab.com/kelteseth/ScreenPlay">Gitlab</a>. <br>You can download ScreenPlay via <a
                  href="https://store.steampowered.com/app/672870/ScreenPlay/">Steam</a> for free!
                  <a  href="https://store.steampowered.com/app/672870/ScreenPlay/">
                    <button type="button" class="btn btn-primary" style="margin-top: 20px"><span class="ti-download"></span> Download ScreenPlay</button>
                  </a>
              </p>
              
            </div>
            </div>
          </div>
          {{.Content }}
          <div class="card shadow p-5 pt-1 my-5 border border-1">
            <h3> ScreenPlay Is Open Source Software</h3>

            <p>Everyone can contribute with code, design, documentation or translation.
              If you have questions about contributing do not hesitate to ask in the <a
                href="https://forum.screen-play.app/">Forum</a>
              or <a href="https://discord.gg/KBxx6sZ3mx">Discord</a>. Here are some ways you can contribute:</p>
            <br>
            <br>
            <ul>
              <li> by using prerelease versions / master branch or the Steam nightly builds </li>
              <li> by <a href="https://kelteseth.gitlab.io/ScreenPlayDocs/contribute/translations/">adding/fixing
                  translation </a></li>
              <li> by <a href="https://kelteseth.gitlab.io/ScreenPlayDocs/contribute/contribute/#design">designing UI/UX
                </a></li>
              <li> by <a href="https://kelteseth.gitlab.io/ScreenPlayDocs/">creating example HTML/QML/Javascript content
                </a></li>
              <li> by <a href="https://gitlab.com/kelteseth/ScreenPlay/-/issues">reporting bugs </a></li>
              <li> by <a href="https://gitlab.com/kelteseth/ScreenPlayDocs">writing user documentation </a></li>
              <li> by <a href="https://gitlab.com/kelteseth/ScreenPlay/-/issues?label_name%5B%5D=Feature">coding needed
                  features </a></li>
              <li> by <a
                  href="https://gitlab.com/kelteseth/ScreenPlay/-/issues?label_name%5B%5D=Code+Quality">refactoring code
                </a></li>
              <li> by <a href="https://gitlab.com/kelteseth/ScreenPlay/-/merge_requests">reviewing merge requests </a>
              </li>
              <li> by <a href="https://gitlab.com/kelteseth/ScreenPlay/-/issues?label_name%5B%5D=Unverified">verifying
                  issues </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}