{{ define "main" }}

  <!-- page title -->
  <section class="page-title-alt bg-primary position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white font-tertiary">{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- about -->
  <section class="section pt-5">
    <div class="container">
          {{ .Content }}
    </div>
  </section>
  <!-- /about -->



{{ end }}
